{% extends 'base.html' %}

{% block content %}

    <section class="countries-header">
        <h3 class="country__header">{{ country.name }}</h3>
        
        <p><a href="/countries/edit/{{ country.id }}" class="view_button">Edit</a></p>
    </section>

    <!-- <p class="country__p">{{ country.name }}</p> -->

    <div class="countries__item">

        <h3 class="country__header-item">Cities</h3>
        <p class="country__p">{{ country.cities }}</p>

        <h3 class="country__header-item">Visited</h3>
        <p class="country__p">{{ country.visited }}</p>

        <p>These users have visited this country, click to see their memories:</p>
        {% for memory in memories %}
            <a href="/users/{{ memory.user.id }}" class="view_button">{{ memory.user.name }}</a>
            <!-- <a href="/users/{{ memory.user.id }}">{{ memory.user.id }}</a> -->
        {% endfor %}
        <!-- {% for user in users %}
            <a href="/users/{{ user.id }}">{{ user.user.name }}</a>
        {% endfor %} -->
    </div>

    

{% endblock %}