{% extends 'base.html' %}

{% block content %}
    <h1>Countries</h1>

    <ul>
        {% for country in countries %}
        
            <li>
                {{ country.name }}
            </li>
            <li>
                {{ country.cities }}
            </li>
            <li>
               {% if country.visited %}
                    "Visited"                
               {% else %}
                    "not"
               {% endif %}
                
            </li>

        {% endfor %}
    </ul>
{% endblock %}