{% extends 'base.html' %}

{% block content %}
    <h1>Countries</h1>

    <a href="/countries/new">Add New Country</a>

    <ul>
        {% for country in countries %}
        
            <li>
                {{ country.name }}
            </li>
            <li>
                {{ country.cities }}
            </li>
            <li>
               {% if country.visited %}
                    Visited               
               {% else %}
                    Not
               {% endif %}
            </li>

            <form action="/countries/delete/{{ country.id }}" method="POST">
                <input type="submit" value="Delete Country">
            </form>

        {% endfor %}
    </ul>
{% endblock %}