{% extends 'base.html' %}

{% block content %}
    <h2 class="new-country__header">Add New Country</h2>

    <section class="new-country">
        <form action="/countries" method="post">
            <!-- <label for="country_name">Country</label> -->
            <input type="text" name="country_name" id="country_name" class="input-box" placeholder="Country"><br>
        
            <!-- <label for="cities">Cities</label> -->
            <input type="text" name="cities" id="cities" class="input-box" placeholder="Cities"><br>
            
            <div class="new-country__visited-checkbox">
                <label for="visited">Visited</label>
                <input type="checkbox" name="visited" id="visited"><br>
            </div>

            <input type="submit" value="Save" class="add_button">
        </form>
    </section>
{% endblock %}