{% extends 'base.html' %}

{% block content %}
    <h1>Memories</h1>

    <a href="/memories/new">Add New Memory</a>

    <ul>
        {% for memory in memories %}
            <li>
                {{ memory.memory }}
            </li>
            <li>
                {{ memory.user.name }}
            </li>
            <li>
                {{ memory.country.name }}
            </li>

            <form action="/memories/delete/{{ memory.id }}" method="POST">
                <input type="submit" value="Delete Memory">
            </form>
        {% endfor %}
    </ul>
    
{% endblock %}