{% extends 'base.html' %}

{% block content %}
    <h2 class="new-memory__header">Add New Memory</h2>

    <form action="/memories" method="post">
       
        <label for="user">Select Saved User</label>
            <select name="user_id" id="user">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select><br>

        <label for="country">Select Saved Country</label>
            <select name="country_id" id="country">
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select><br>


        <!-- <label for="memory">Memory</label> -->
        <textarea type="text" name="memory" id="memory" rows="10" cols="60" placeholder="Memory..."></textarea><br>

        <input type="submit" value="Save Memory" class="add_button">

    </form>
{% endblock %}