{% extends 'base.html' %}

{% block content %}
<section class="index-body">
    <h2 class="index-header">Welcome to Travel Tracker</h2>

    
        <p>If you are anything like me, you have been to some intersting places, done a lot of cool stuff and can remember almost none of it.</p>
        <p>Worry no longer soup brained friends, I have a helpful solution!</p>
        <p>This application can be used to track countries you have visited around the world and record sweet precious memories
            of your adventures.</p>
        <p>You can add countries you have visted and keep a log of memories attached to these countries to treasure forever.</p>
    </section>
{% endblock %}