{% extends 'base.html' %}

{% block content %}
    <section class="users-header">
        <h2 class="users-header__title">Users</h2>

        <a href="/users/new" class="add_button">Add User</a>
    </section>

        <ul class="users__list">
            {% for user in users %}
                <li class="users__item">
                    <p>{{ user.name }}</p>
                    <!-- <p>{{ user.id }}</p> -->

                    <div class="users__item-buttons">
                        <a href="/users/{{ user.id }}" class="view_button">View</a>

                        <a href="/users/edit/{{ user.id }}" class="add_button">Edit</a>

                        <form action="/users/delete/{{ user.id }}" method="POST">
                            <input type="submit" value="Delete" class="delete_button">
                        </form>
                    </div>
                </li>
            {% endfor %}
        
        </ul>
{% endblock %}