{% extends 'base.html' %}

{% block content %}
    <h1>Users</h1>

    <a href="/users/new">Add New User</a>

    <ul>
            {% for user in users %}
                <li>
                    {{ user.name }}
                </li>
                <!-- <li>
                    <a href="/users/{{loop.index0}}" >View user</a>
                </li> -->
                <li>
                    {{ user.id }}
                </li>

                <form action="/users/delete/{{ user.id }}" method="POST">
                    <input type="submit" value="Delete User">
                </form>

            {% endfor %}
                
    </ul>
{% endblock %}